.form {
  .form__description textarea {
    border: none;
  }
  .form__description textarea {
    border: none;
  }

  .form__upload-inputs {
    display: flex;
    justify-content: center;
    span {
      padding: 10px;
    }
  }
}
